{% extends 'layout.html' %}

{% block body%}
    <div class="content-section">
        <form method="POST" action="{{ url_for('search') }}">
            {{ form.hidden_tag() }}
            <div class="jumbotron text-center">
		        <h1>Log Search</h1>
	        </div>
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Search</legend>
                <div class="form-group">
                    <div>
                        {{ form.LogType.label(class="form-control-label")}}
                    </div>
                    {% if form.LogType.errors %}
                        {{ form.LogType(class="radio-inline is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.LogType.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.LogType(class="radio-inline") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.DateStart.label(class="form-control-label")}}
                    {% if form.DateStart.errors %}
                        {{ form.DateStart(class="form-control form-control-sm is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.DateStart.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.DateStart(class="form-control form-control-sm") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.DateEnd.label(class="form-control-label") }}
                    {% if form.DateEnd.errors %}
                        {{ form.DateEnd(class="form-control form-control-sm is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.DateEnd.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.DateEnd(class="form-control form-control-sm") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.criteria.label(class="form-control-label") }}
                    {% if form.criteria.errors %}
                        {{ form.criteria(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.criteria.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.criteria(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
{% endblock %}